#corpo {
    background-color: rgb(128, 255, 255);
    text-align: center;
}
#dex {
    align-content: center;
    height: 450px;
    width: 650px;
}
@Font-Face{
    font-family: "Pokemon Solid";
    src: url("fonts/Pokemon\ Solid.ttf")
    
}

#cabecalho1{
    font-family: "Pokemon Solid";
    color: yellow;
    font-size: 50px;
    font-style: italic;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

#posicionamentoRight{
    position: absolute;
    /* top:35em;
    left:39.5em; */
    top: 90.1%;
    left: 46.7%;
    transform: translate(-50%, -50%);
}
#posicionamentoLeft{
    position: absolute;
    /* top:35em;
    left:39.5em; */
    top: 90.1%;
    left: 43.8%;
    transform: translate(-50%, -50%);
}
#posicionamentoTop{
    position: absolute;
    /* top:35em;
    left:39.5em; */
    top: 86.9%;
    left: 45.3%;
    transform: translate(-50%, -50%);
}
#posicionamentoDown{
    position: absolute;
    /* top:35em;
    left:39.5em; */
    top: 93%;
    left: 45.3%;
    transform: translate(-50%, -50%);
}
#chamaPKM{
    background: transparent;
    border: none;
}
#busca{
    border-radius: 5px;
    background: transparent;
    width: 82.5px;
    height: 34px;
    position: absolute;
    top: 91.5%;
    left: 34.2%;
}
#confirma{
    border-radius: 100%;
    width: 30px;
    height: 30px;
    background: transparent;
    position: absolute;
    top: 84.5%;
    left: 31.6%;
}